.CodeMirror {
	border: 1px solid black;
	font-size: 2rem;
}

.CodeMirror-linenumber { color: #aaa; margin-left: 3px; }
.CodeMirror-activeline-background { background: #dff; }
.CodeMirror-cursor { border-left: 4px solid #222; background: red; width: 3px; }

/* woa talk about specifity */
div.CodeMirror span.CodeMirror-matchingbracket {
	color: red;
	outline: 1px solid #ccc;
	background: #eee;
}


